body {
  font-family: 'Vollkorn', Georgia, serif;
  font-size: 16px;
}

li {
  margin-top: .5rem;
}

li:hover {
  border-radius: 6px;
  background-color: #0d6dfd93;
}

.principal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pagina {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabela {
  min-width: 80%;
  font-size: 12px;

}

.sombra {
  color: white;
  text-shadow: 2px 2px 2px black;
}

.icon {
  margin: .125rem;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.2);
  filter: drop-shadow(3px 3px 3px black);
}

.logo {
  margin: 0.5rem;
  transition: .2s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
  filter: drop-shadow(5px 5px 5px #0d6dfd93);
}

.ocult {
  display: none;
}

.arrow {
  display: none;
}


.not:hover {
  cursor: not-allowed;
}

#servicos td:hover:nth-child(n+2),
#vendas td:hover:nth-child(n+2),
#outros td:hover:nth-child(n+2),
#luz td:hover:nth-child(n+2),
#matariaPrima td:hover:nth-child(n+2),
#ferramentas td:hover:nth-child(n+2),
#despesasOutros td:hover:nth-child(n+2)
{
  background-color: #0d6dfd93;
  color: white;
  cursor: default;
}

.line {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-weight: bolder;
}

.transacaohover:hover  {
  background-color: #0d6dfd93;
  color: white;
  cursor: default;
}

@media (max-width: 480px){
  .logo{
    width: 36px;
  }

  .conteudo-tabela {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
  }
  .images {
    width: 32px;
  }
  .navbar-toggler-icon {
    filter: invert(1);
  }

  .ocult {
    display: block;
  }

  .tabela {
    margin: 1rem 0;
    min-width: auto;
  }
  
  .lateral {
    display: none;
  }


  .table {
   width: 380px;
  }

  table {
    table-layout: auto !important;
    width: auto !important;
    font-size: 14px !important;
    box-sizing: border-box !important;
    font-size: 12px !important
  }

  td{
    white-space: nowrap;
  }

  .table-responsive {
    max-width: 350;;
  }

  .imageMobile{
    display: none;
  }

  .arrow {
    display: flex;
    position: relative;
    color: white;
    animation: seta .6s ease-in 0s infinite alternate;
    font-weight: bolder;
  }

  .menuMobile {
    display: none;
  }

  
  @keyframes seta{
    from {
      right: 30px;
    }
    to {
      right: 20px;
    }
  }
}