body {
  font-family: 'Vollkorn', Georgia, serif;
}

li {
  margin-top: .5rem;
}

li:hover {
  border-radius: 6px;
  background-color: #0d6dfd93;
}

.principal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pagina {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabela {
  margin: .25rem;
  width: 80vw;
  /* border: 1px solid black; */
}

.sombra {
  color: white;
  text-shadow: 2px 2px 2px black;
}

.icon {
  margin: .125rem;
}

.logo {
  transition: .2s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
  filter: drop-shadow(5px 5px 5px #0d6dfd93);
}

.ocult {
  display: none;
}
@media (max-width: 480px){
  .logo{
    width: 36px;
  }
  .tabela {
    margin: 0 1.5rem;
  }
  .conteudo-tabela {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .images {
    width: 32px;
  }
  .navbar-toggler-icon {
    filter: invert(1);
  }

  .ocult {
    display: block;
  }
}